@import "./vars.scss";

* { box-sizing: border-box; }
html,body,#root { height: 100%; }
body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  color: $text;
  background: $bg;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

main { margin-top: 74px; } /* header height */
button { font-family: inherit; }

/* Убираем визуальный скроллбар, но сохраняем прокрутку */
html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE и Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}