@import "../../styles/vars.scss";

.container {
  padding: 88px 20px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  h2 { font-size: 28px; margin-bottom: 12px; }
  p { color: $muted; max-width: 800px; margin: 0 auto; }
}