.appWrapper {
  position: relative;
  transition: margin-left 0.4s ease, filter 0.3s ease;
}

.shifted {
  margin-left: 240px; /* мягкий сдвиг контента */
}

.blur {
  filter: blur(4px);
  pointer-events: none;
}